

  #getUsers {
   margin: 20px auto;
   width:200px;
  }
 
  html, body, .container{
    background-color: rgb(39, 43, 43) !important;
  }
  h1 {
    color: rgb(205, 220, 180) !important;
    text-align: center;
    margin-top: 40px !important;
    text-transform: uppercase;
  }
  .borderline {
    background-color: rgb(61, 77, 65);
    height: 1px;
    width:100%;
  }

  #spinner {
  color:rgb(150, 161, 133);
  margin: 20px auto !important;
  width:fit-content !important;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  }
  #content {
    color:rgb(150, 161, 133);
    margin: 20px auto;
  width:fit-content;
  }

  img{
    margin: 5px;
    border: 2px solid rgb(68, 120, 198);
    border-radius: 10px;
    padding: 5px;
  }
  .myRow {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  }