.projectAuthor{
    width: 300px;
    float: right;
    padding-left: 10px;
    color:$fontColor;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: flex-start;
}

.projectAuthor h5 {
    color:$headingsColor;
    text-align: justify;
}
.photo{
    width: 130px; 
    border-radius: 20px;
    padding:5px;
    box-sizing: border-box;
    border:1px solid $fontColor;
    margin: auto;
}
.projectAuthorP{
font-size:small;
font-stretch: extra-expanded;
font-style: italic;
}
.projectAuthorP2{
    font-size:small;
    text-align: right !important;
}
.projectAuthorP2 a{
    color: $headingsColor;
}