.currenciesAlert{
    color:$alertColor;
    padding:10px;
    border: 1px solid $alertColor;
    width:fit-content;
    margin: 20px auto;
    text-align: center;
    span{
        text-transform: uppercase;
    }
}
.spinner-border{
    color:$alertColor;
    margin:10px auto !important;
}
.loaderDiv{
        display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
}
.coinDiv{
color:$fontColor;
display: flex;
justify-content:space-around;
align-items: center;
width: 100%;
flex-wrap: wrap;
margin-bottom: 60px;
}
.currenciesList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.coinCard{
    border: 1px solid $fontColor;
    border-right: 8px dotted rgb(6, 36, 17);
    

    padding: 10px;
    margin:10px;
    border-radius: 10px;
    min-width: 300px;
    min-height: 100px;
    text-transform: uppercase;
}
.coinCard input{
   float:right;
}
.coinSymbol{
    color:rgb(83, 153, 244);
}
.coinCard span{
    text-transform: lowercase;
    font-weight: bold;
    color:$fontColor;
}
summary{
   color:$headingsColor;
}
.coinSymbol span{
    color:$symbolColor;
    color:$fontColor;
}
#Progress {
    width: 100%;    
    background-color: black;
    display: flex;
    flex-direction: column;
    color: $alertColor;

  }
.coinId{
    opacity: 0;
    color: $nameColor;
}
.coinName{
    // color: $nameColor;
    font-weight: bold;
    flex-wrap: wrap;
}
.summaryDiv span{
    text-transform: uppercase;
    font-weight: bold;
    color:$fontColor;
}
.errorDiv{
    color:$errorColor
}
.intro{
    color:$symbolColor;
    text-align: justify !important;
    margin-bottom: 20px;
    margin-top: 10px;
}
.intro span {
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    border: 1px solid $symbolColor;
    padding-left:5px;
    padding-right:5px;
    border-left:none;
    border-right:none;
    border-radius: 5px;
}
.intro span:first-of-type {
border:none;
padding: 0;
}
.reports{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}
// #reportIntro{
//     text-align: left !important;
// }
