nav {
    width:100%;
     margin: auto;
     background-color: rgba(25, 52, 54, 0.2);
     display: flex;
     justify-content: space-evenly;
}
nav button {
    height:50px !important;
    width: 250px !important;
    margin: 10px;
    background-color: transparent !important;
}
nav button span{
    opacity: 1;
    color: $headingsColor;
}