$fontColor:#7c7c7c;
$symbolColor:rgb(83, 153, 244);
$nameColor:rgba(83, 153, 244, 0.753);
$headingsColor: #709e88;
$alertColor: #429f72;
$errorColor:  #bb5892;
$mainFont:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$footerColor:  rgb(3, 45, 57);