*{
    margin:0;
    padding:0;
    border:none;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


 
@import "_variables";
@import "_container";
@import "_header";
@import "_main";
@import "_article";
@import "_details";
@import "_aside";
@import "_footer";
