
*{
  background: rgb(92, 81, 81);
  color:antiquewhite;
  text-align: center;
}
.stateDiv{

  width:800px;
  margin: 0 auto;

}
.ooo{
  margin: 0 auto;
  padding-bottom: 10px;
}
textarea{
  background: rgb(168, 146, 146);
  width:500px;
  height:100px;
  margin: 0 auto;
  margin-left:10px;
  border-radius: 10px;
}
.commentUl{
  width:500px;
  margin: 0 auto !important;
  text-align: left !important;
  list-style-type: none;

}
li{
  margin-bottom:20px;
  text-align: left !important;
}