* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body, html {
  background-color: #090f11 !important;
}

.parallax,
.parallax__layer {
  height: 1000px;
}

.parallax__layer {
  position: fixed;
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  z-index: 10;
}

#parallax-0 {
  background-image: url(./../../img/setka.svg);
  background-color: #161c1e;
}

#parallax-1 {
  background-image: url(./../../img/axes.svg);
  background-position: bottom 10px right;
  z-index: 11;
}

#parallax-2 {
  background-image: url(./../../img/graph1.svg);
  background-position: bottom 10px left;
  opacity: 0.9;
  z-index: 11;
}

#parallax-3 {
  background-image: url(./../../img/graph2.svg);
  background-position: bottom 10px left;
  opacity: 0.6;
}

#parallax-4 {
  background-image: url(./../../img/amudim.svg);
  background-position: bottom 10px right;
  opacity: 0.9;
}

#parallax-5 {
  background-image: url(./../../img/amudimBlue.svg);
  background-position: 1px 1px;
  opacity: 0.2;
}

#arrowDiv h1 {
  color: #709e88;
  text-transform: uppercase;
}

#arrowDiv {
  margin-top: 25px;
  margin-left: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#parallax-7 div {
  color: #cbcdce;
  font-size: 25em;
  opacity: 0.03;
  margin-top: 10px;
}

#parallax-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#parallax-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 20%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  z-index: 90;
  width: 100%;
  opacity: 0.5;
  background-image: url(./../../img/amudim2.svg);
  background-position: bottom 10px left;
  background-repeat: no-repeat;
}

#arrow {
  color: #709e88;
  font-size: 80px;
  border: 3px solid #709e88;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: transparent !important;
  margin-left: 15px;
}

#arrow:hover {
  font-size: 100px;
  border: 6px solid #709e88;
}

header a {
  text-decoration: none;
}

.maincontent {
  position: relative;
  width: 100%;
  min-height: 300vh;
  z-index: 99;
  background-color: #090f11;
  background-image: url(./../../img/graph-paper.svg);
  background-repeat: repeat;
}

nav {
  width: 100%;
  margin: auto;
  background-color: rgba(25, 52, 54, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav button {
  height: 50px !important;
  width: 250px !important;
  margin: 10px;
  background-color: transparent !important;
}

nav button span {
  opacity: 1;
  color: #709e88;
}

.container {
  width: 1200px;
}

.articleHeading {
  color: #709e88;
}

article button {
  height: 50px !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin: 5px;
  background-color: transparent !important;
}

article button span {
  opacity: 1;
  color: #709e88;
}

article input {
  height: 45px;
  border: none;
  border-bottom: 1px solid #709e88;
  background-color: transparent;
  padding-left: 10px;
  color: #709e88;
  margin-right: 5px;
}

article input::-webkit-input-placeholder {
  color: #709e88;
  opacity: 0.5;
}

article input::-moz-placeholder {
  color: #709e88;
  opacity: 0.5;
}

article input:-ms-input-placeholder {
  color: #709e88;
  opacity: 0.5;
}

article input::-ms-input-placeholder {
  color: #709e88;
  opacity: 0.5;
}

article input::placeholder {
  color: #709e88;
  opacity: 0.5;
}

#controllers {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projectDescP {
  color: #7c7c7c;
  font-size: larger;
}

article {
  max-width: 1200px;
  margin: auto;
  text-align: justify;
}

.reports {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.currenciesAlert {
  color: #429f72;
  padding: 10px;
  border: 1px solid #429f72;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
  text-align: center;
}
.currenciesAlert span {
  text-transform: uppercase;
}

.spinner-border {
  color: #429f72;
  margin: 10px auto !important;
}

.loaderDiv {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coinDiv {
  color: #7c7c7c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.currenciesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coinCard {
  border: 1px solid #7c7c7c;
  border-right: 8px dotted rgb(6, 36, 17);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  min-width: 300px;
  min-height: 100px;
  text-transform: uppercase;
}

.coinCard input {
  float: right;
}

.coinSymbol {
  color: rgb(83, 153, 244);
}

.coinCard span {
  text-transform: lowercase;
  font-weight: bold;
  color: #7c7c7c;
}

summary {
  color: #709e88;
}

.coinSymbol span {
  color: rgb(83, 153, 244);
  color: #7c7c7c;
}

#Progress {
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #429f72;
}

.coinId {
  opacity: 0;
  color: rgba(83, 153, 244, 0.753);
}

.coinName {
  font-weight: bold;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.summaryDiv span {
  text-transform: uppercase;
  font-weight: bold;
  color: #7c7c7c;
}

.errorDiv {
  color: #bb5892;
}

.intro {
  color: rgb(83, 153, 244);
  text-align: justify;
  margin-bottom: 20px;
  margin-top: 10px;
}

.intro span {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  border: 1px solid rgb(83, 153, 244);
  padding-left: 5px;
  padding-right: 5px;
  border-left: none;
  border-right: none;
  border-radius: 5px;
}

.intro span:first-of-type {
  border: none;
  padding: 0;
}

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.popup {
  position: absolute;
  color: #7c7c7c;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background: rgb(3, 45, 57);
  width: 400px;
  padding: 25px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  border-radius: 15px;
}

.popup.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: 1px solid #7c7c7c;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
}

.projectAuthor {
  width: 300px;
  float: right;
  padding-left: 10px;
  color: #7c7c7c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectAuthor h5 {
  color: #709e88;
  text-align: justify;
}

.photo {
  width: 130px;
  border-radius: 20px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #7c7c7c;
  margin: auto;
}

.projectAuthorP {
  font-size: small;
  font-stretch: extra-expanded;
  font-style: italic;
}

.projectAuthorP2 {
  font-size: small;
  text-align: right !important;
}

.projectAuthorP2 a {
  color: #709e88;
}

footer {
  width: 100%;
  min-height: 150px;
  background-color: rgb(3, 45, 57);
  position: sticky;
  z-index: 100;
  bottom: 0;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  padding-top: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer h5 {
  text-align: center;
  color: #709e88;
  text-transform: uppercase;
}

footer h5 ~ h6 {
  margin-top: 10px;
  text-align: center;
  color: #709e88;
}

.footerBack {
  width: 100%;
  min-height: 220px;
  position: fixed;
  z-index: 12;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #010101;
  background-image: url(./../../img/graph-paper.svg);
  background-repeat: repeat;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
  opacity: 0.5;
}