html, body {
    background-color:rgb(7, 7, 7) ;
    color:rgb(2, 2, 2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrapper {
    background-color: rgb(140, 166, 175);
    width: 60%;
    margin: 50px auto;
    padding:20px;
    border-radius: 20px;
    border: none;
}
header, footer {
    padding:15px;
    border: none;
    background-color: rgb(20, 78, 70);
    text-align: center;
    color:rgb(204, 235, 118);
}
header {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
footer {

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
}

input {
    padding-left: 20px;
    height: 30px;
    width: 320px;
    border:none;
    border-bottom: 1px solid rgb(57, 41, 41);
    margin: 5px;
    background-color:  rgb(140, 166, 175);
}
form {
    width:fit-content;
    margin:20px auto;
    text-align: center;
    font-size: 30px;
}
legend {
    margin: 5px;
}
.ref {
    cursor: pointer;
}
h3:hover {
    color:  rgb(35, 29, 29);
    /* text-decoration: underline; */
    font-weight: bold;
}
.ref:hover:before {
    content:">>";
}
.ref:hover:after {
    content:"<<";
}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
img {
    min-width:400px;
    margin-bottom: 10px;
    border: 8px solid rgb(130, 202, 130);
    border-radius: 15px;
}
.movieDescDiv {
 max-width: 400px;
}
span{
    font-weight: bold;
    text-transform: uppercase;
}
.buttons {
    width: fit-content;
    margin: 10px auto;
}

.spinner-border {
    margin-bottom: 15px;
}